@import '../../function';

.DiscComing {
  .just-update-in-06-hour {
    color: red;
  }

  .just-update-in-24-hour:not(.just-update-in-06-hour) {
    color: blue;
  }

  .table {
    table-layout: fixed;

    th, td {
      &.id {
        @include columnCenter();
        @include columnHideWidth(600px, 45px);
      }

      &.asin {
        @include columnCenter();
        @include columnWidth(100px, 95px);
      }

      &.createTime {
        @include columnCenter();
        @include columnHideWidth(600px, 80px);
      }

      &.followed {
        @include columnCenter();
        @include columnWidth(50px, 45px);
      }

      &.type {
        @include columnCenter();
        @include columnWidth(50px, 45px);
      }
    }
  }
}
