@import '../../global';

.list-root {
  .list-find-discs {
    table {
      table-layout: fixed;
      td, th {
        &.rank {
          width: 130px;
          @media screen and (max-width: $mobile-max-width) {
            width: 115px;
          }
        }
        &.totalPt {
          width: 75px;
          @media screen and (max-width: $mobile-max-width) {
            width: 68px;
          }
          @media screen and (max-width: 400px) {
            display: none;
          }
        }
      }
      td {
        &.rank {
          word-break: keep-all;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          text-align: center;
        }
        &.totalPt {
          word-break: keep-all;
          white-space: nowrap;
          text-align: right;
        }
        &.title {
          text-align: left;
        }
      }
    }
  }
  .list-edit-discs {
    table {
      table-layout: fixed;
      td, th {
        &.id {
          width: 40px;
        }
        &.asin {
          width: 100px;
        }
        &.rank {
          width: 70px;
        }
        &.surplusDays {
          width: 50px;
        }
        &.control {
          width: 50px;
        }
      }
      td {
        text-align: center;
        &.rank {
          word-break: keep-all;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        &.title {
          text-align: left;
        }
      }
    }
  }
}
