@import '../../global';

.admin-user {
  .admin-user-list {
    table {
      table-layout: fixed;
      text-align: center;
      .key, .title {
        text-align: left;
      }
      td, th {
        &.id {
          width: 45px;
          @media screen and (max-width: $mobile-max-width) {
            width: 35px;
          }
        }
        &.username {
          width: 95px;
          @media screen and (max-width: $mobile-max-width) {
            width: 85px;
          }
        }
        &.enabled {
          width: 50px;
          @media screen and (max-width: $mobile-max-width) {
            width: 40px;
          }
        }
        &.registerDate {
          width: 150px;
          @media screen and (max-width: $mobile-max-width) {
            width: 85px;
          }
        }
        &.lastLoggedIn {
          width: 150px;
          @media screen and (max-width: $mobile-max-width) {
            width: 85px;
          }
        }
        &.control {
          width: 50px;
          @media screen and (max-width: $mobile-max-width) {
            width: 40px;
          }
        }
      }
    }
  }
}
