.disc-list {
  max-width: 800px;

  .pc-mode-warpper {
    overflow-x: auto;

    .pc-mode {
      min-width: 750px;

      table {
        th,
        td {
          display: table-cell !important;
        }
      }
    }
  }
}
