@import '../_function.scss';

.disc-list-table-mo table {
  table-layout: fixed;

  th:not(.title) > div {
    width: 30px;
    text-align: center;
  }

  td,
  th {
    &.index {
      @include columnCenter();
      @include columnWidth(40px, 35px);
      @include columnHide(450px);
    }

    &.rank {
      @include columnWidth(80px, 70px);
    }

    &.point {
      @include columnWidth(80px, 70px);
    }

    &.release {
      @include columnWidth(80px, 70px);
    }
  }

  td {
    &.rank {
      word-break: keep-all;
      white-space: nowrap;
      text-align: center;
    }

    &.point {
      word-break: keep-all;
      white-space: nowrap;
      text-align: right;
      padding-left: 0 !important;
    }

    &.release {
      text-align: center;
    }
  }
}
