.MyTable {
  .table-caption {
    padding: 4px;
    margin-bottom: 4px;

    & > span {
      line-height: 44px;
      margin: 4px;
    }

    .caption-title {
      font-size: 24px;
      padding-right: 4px;
    }

    .caption-extra {
      font-size: 16px;
    }
  }

  .table {
    th.sortable {
      cursor: pointer;
      text-align: left;
      padding-left: 20px;
      background: url('./images/table-normal.gif') no-repeat center left;

      &.asc {
        background-image: url('./images/table-asc.gif');
      }

      &.desc {
        background-image: url('./images/table-desc.gif');
      }
    }

    tr.debug {
      font-style: italic;
    }
  }

  @media screen and (max-width: 600px) {
    .table > thead > tr > th,
    .table > tbody > tr > th,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > td,
    .table > tfoot > tr > td {
      padding: 5px;
    }
  }
}
