.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

.logo {
  height: 32px;
  text-align: center;
  background: rgba(255, 255, 255, .2);
  margin: 16px;
}
