@import '../../global';

.topdisc {
  .topdisc-content {
    table {
      table-layout: fixed;
      text-align: center;
      .title {
        text-align: left;
      }
      tr.is-anime {
        background-color: #ffbaf6;
      }
      td, th {
        &.id {
          width: 50px;
          @media screen and (max-width: $mobile-max-width) {
            width: 40px;
          }
        }
        &.rank {
          width: 105px;
          @media screen and (max-width: $mobile-max-width) {
            width: 95px;
          }
        }
      }
      td.rank {
        color: #1890ff;
      }
    }
  }
}
