@import '../../function';

.DiscGroupItems {
  .table {
    table-layout: fixed;

    td,
    th {
      &.asin {
        @include columnCenter();
        @include columnWidth(100px, 95px);
      }

      &.surp {
        @include columnCenter();
        @include columnWidth(65px, 60px);
      }

      &.command {
        @include columnCenter();
        @include columnWidth(45px, 40px);
      }
    }
  }

  .input-wrapper.button-group {
    button:not(:first-child) {
      margin-left: 10px;
    }
  }
}
