@mixin columnCenter() {
  padding: 0 auto;
  text-align: center;
}

@mixin columnHide($switch) {
  @media screen and (max-width: $switch) {
    display: none;
  }
}

@mixin columnHideWidth($switch, $width_pc) {
  width: $width_pc;
  @media screen and (max-width: $switch) {
    display: none;
  }
}

@mixin columnWidth($width_pc, $width_mo) {
  width: $width_pc;
  @media screen and (max-width: 600px) {
    width: $width_mo;
  }
}

@mixin columnWidthSwitch($width_pc, $width_mo, $switch) {
  width: $width_pc;
  @media screen and (max-width: $switch) {
    width: $width_mo;
  }
}
