@import '../_function.scss';

#root .DiscGroupEditList {
  max-width: 650px;

  .table {
    table-layout: fixed;

    td,
    th {
      &.asin {
        @include columnCenter();
        @include columnPcMo(100px, 95px);
      }

      &.surp {
        @include columnCenter();
        @include columnPcMo(65px, 60px);
      }

      &.command {
        @include columnCenter();
        @include columnPcMo(45px, 40px);
      }
    }
  }

  .input-wrapper.button-group {
    button:not(:first-child) {
      margin-left: 10px;
    }
  }
}
