@import '../../global';
.sakura {
  .sakura-list {
    table {
      table-layout: fixed;
      text-align: center;
      .key, .title {
        text-align: left;
      }
      td, th {
        &.id {
          width: 45px;
          @media screen and (max-width: $mobile-max-width) {
            width: 35px;
          }
        }
        &.key {
          width: 135px;
          @media screen and (max-width: $mobile-max-width) {
            width: 120px;
          }
          @media screen and (max-width: 500px) {
            display: none;
          }
        }
        &.viewType {
          width: 80px;
          @media screen and (max-width: $mobile-max-width) {
            width: 70px;
          }
          @media screen and (max-width: 375px) {
            display: none;
          }
        }
        &.modifyTime {
          width: 95px;
          @media screen and (max-width: $mobile-max-width) {
            width: 85px;
          }
        }
      }
      td {
        &.modifyTime {
          text-align: right;
        }
      }
    }
  }
  .sakura-discs {
    .sakura-discs-content {
      overflow-x: auto;
      .pc-mode {
        min-width: 800px;
        table {
          th, td {
            display: table-cell !important;
          }
        }
      }
    }
    table {
      table-layout: fixed;
      td, th {
        $today-pt-hide-width: 1000px;
        $total-pt-hide-width: 600px;
        $guess-pt-hide-width: 900px;
        $surplus-days-hide-width: 800px;
        &.rank {
          width: 130px;
          @media screen and (max-width: $mobile-max-width) {
            width: 115px;
          }
        }
        &.todayPt {
          width: 75px;
          @media screen and (max-width: $mobile-max-width) {
            width: 68px;
          }
          @media screen and (max-width: $sider-menu-close) and (max-width: $today-pt-hide-width - $sider-menu-width) {
            display: none;
          }
          @media screen and (min-width: $sider-menu-close + 1px) and (max-width: $today-pt-hide-width) {
            display: none;
          }
        }
        &.totalPt {
          width: 75px;
          @media screen and (max-width: $mobile-max-width) {
            width: 68px;
          }
          @media screen and (max-width: $sider-menu-close) and (max-width: $total-pt-hide-width - $sider-menu-width) {
            display: none;
          }
          @media screen and (min-width: $sider-menu-close + 1px) and (max-width: $total-pt-hide-width) {
            display: none;
          }
        }
        &.guessPt {
          width: 75px;
          @media screen and (max-width: $mobile-max-width) {
            width: 68px;
          }
          @media screen and (max-width: $sider-menu-close) and (max-width: $guess-pt-hide-width - $sider-menu-width) {
            display: none;
          }
          @media screen and (min-width: $sider-menu-close + 1px) and (max-width: $guess-pt-hide-width) {
            display: none;
          }
        }
        &.surplusDays {
          width: 75px;
          @media screen and (max-width: $mobile-max-width) {
            width: 68px;
          }
          @media screen and (max-width: $sider-menu-close) and (max-width: $surplus-days-hide-width - $sider-menu-width) {
            display: none;
          }
          @media screen and (min-width: $sider-menu-close + 1px) and (max-width: $surplus-days-hide-width) {
            display: none;
          }
        }
      }
      td {
        &.rank {
          word-break: keep-all;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          text-align: center;
        }
        &.todayPt, &.totalPt, &.guessPt {
          word-break: keep-all;
          white-space: nowrap;
          text-align: right;
        }
        &.surplusDays {
          text-align: right;
        }
        &.title {
          text-align: left;
        }
      }
    }
  }
}
