@import '../../global';

.sakura {
  .sakura-list {
    table {
      table-layout: fixed;
      td, th {
        &.id {
          width: 50px;
          @media screen and (max-width: $mobile-max-width) {
            width: 35px;
          }
        }
        &.key {
          width: 145px;
          @media screen and (max-width: $mobile-max-width) {
            width: 130px;
          }
          @media screen and (max-width: 500px) {
            display: none;
          }
        }
        &.viewType {
          width: 95px;
          @media screen and (max-width: $mobile-max-width) {
            width: 80px;
          }
          @media screen and (max-width: 375px) {
            display: none;
          }
        }
        &.modifyTime {
          width: 95px;
          @media screen and (max-width: $mobile-max-width) {
            width: 80px;
          }
        }
      }
      td {
        &.id {
          text-align: center;
        }
      }
    }
  }
  .sakura-discs {
    table {
      table-layout: fixed;
      td, th {
        &.rank {
          width: 130px;
          @media screen and (max-width: $mobile-max-width) {
            width: 115px;
          }
        }
        &.totalPt {
          width: 75px;
          @media screen and (max-width: $mobile-max-width) {
            width: 68px;
          }
          @media screen and (max-width: 400px) {
            display: none;
          }
        }
        &.surplusDays {
          width: 75px;
          @media screen and (max-width: $mobile-max-width) {
            display: none;
          }
        }
      }
      td {
        &.rank {
          word-break: keep-all;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          text-align: center;
        }
        &.totalPt {
          word-break: keep-all;
          white-space: nowrap;
          text-align: right;
        }
        &.surplusDays {
          text-align: right;
        }
        &.title {
          text-align: left;
        }
      }
    }
  }
}
