#root .DiscGroupViewList {
  .pc-mode-warpper {
    overflow-x: auto;

    .pc-mode {
      min-width: 200%;

      table {
        th,
        td {
          display: table-cell !important;
        }
      }
    }
  }
}
