@import "global";

.app-root {

  .app-sider {
    background: $style-background-color;

    .sider-logo {
      height: 32px;
      text-align: center;
      background: rgba(255, 255, 255, .2);
      margin: 16px;
    }

    .sider-icon {
      font-size: 14px;
      margin-right: 10px;
    }
  }

  .app-header {
    background: $style-background-color;
    padding: 0;

    .header-icon {
      font-size: 18px;
      line-height: 64px;
      cursor: pointer;
      transition: color .3s;
    }

    .header-icon:not(.float-right) {
      padding-left: 24px;
    }

    .float-right {
      padding-right: 24px;
      float: right;
    }
  }

  .app-content {
    background: $style-background-color;
    min-height: 1000px;
    margin: 12px;
    padding: 12px;

    @media screen and (max-width: $mobile-max-width) {
      margin: 0;
      padding: 4px;
    }
  }

  .app-footer {
    background: $style-background-color;
    padding: 0;
  }
}
