@font-face {
  font-family: 'Monospaced Number';
  src: local('Tahoma');
  unicode-range: U+30-39;
}

@font-face {
  font-family: 'Chinese Quote';
  src: local('PingFang SC'), local('SimSun');
  unicode-range: U+2018, U+2019, U+201c, U+201d;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Monospaced Number', 'Chinese Quote', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.85);
  background-color: #fff;

  a {
    color: #1890ff;
  }
}

.ant-input-prefix {
  .anticon {
    color: rgba(0, 0, 0, 0.25);
  }
}

textarea:read-only,
input:read-only {
  background-color: rgba(0, 0, 0, 0.05);
}

.input-warpper {
  &:not(.compact) {
    padding: 10px;
  }

  div.input-label {
    padding-left: 10px;
    padding-bottom: 5px;
  }
}
