@import '../function';

#root .DiscComing {
  .just-update-in-06-hour {
    color: red;
  }

  .just-update-in-24-hour:not(.just-update-in-06-hour) {
    color: blue;
  }

  .table {
    table-layout: fixed;

    th, td {
      &.id {
        @include columnCenter();
        @include columnHideWidth(600px, 45px);
      }

      &.asin {
        @include columnCenter();
        @include columnWidth(110px, 65px);
        padding-left: 5px;
        padding-right: 5px;
        word-break: break-all;
      }

      &.createOn {
        @include columnCenter();
        @include columnHideWidth(600px, 75px);
      }

      &.followed {
        @include columnCenter();
        @include columnWidth(50px, 45px);
      }

      &.type {
        @include columnCenter();
        @include columnWidth(50px, 45px);
      }
    }
  }
}
