@import '../../global';

.admin-sakura {
  .admin-sakura-list {
    table {
      table-layout: fixed;
      text-align: center;
      .key, .title {
        text-align: left;
      }
      td, th {
        &.id {
          width: 45px;
          @media screen and (max-width: $mobile-max-width) {
            width: 35px;
          }
        }
        &.key {
          width: 135px;
          @media screen and (max-width: $mobile-max-width) {
            width: 120px;
          }
          @media screen and (max-width: 500px) {
            display: none;
          }
        }
        &.enabled {
          width: 50px;
          @media screen and (max-width: $mobile-max-width) {
            width: 40px;
          }
        }
        &.viewType {
          width: 80px;
          @media screen and (max-width: $mobile-max-width) {
            width: 70px;
          }
        }
        &.modifyTime {
          width: 95px;
          @media screen and (max-width: 700px) {
            display: none;
          }
          @media screen and (min-width: 769px) and (max-width: 869px) {
            display: none;
          }
        }
        &.control {
          width: 50px;
          @media screen and (max-width: $mobile-max-width) {
            width: 40px;
          }
        }
      }
      td {
        &.modifyTime {
          text-align: right;
        }
      }
    }
  }
  .admin-sakura-discs {
    table {
      table-layout: fixed;
      td, th {
        &.asin {
          width: 105px;
        }
        &.surplusDays {
          width: 60px;
        }
        &.control {
          width: 50px;
        }
      }
      td {
        text-align: center;
        &.title {
          text-align: left;
        }
      }
    }
  }
}
