.admin-sakura {
  .admin-sakura-discs {
    table {
      table-layout: fixed;
      td, th {
        &.asin {
          width: 105px;
        }
        &.surplusDays {
          width: 60px;
        }
        &.control {
          width: 50px;
        }
      }
      td {
        text-align: center;
        &.title {
          text-align: left;
        }
      }
    }
  }
}
